html {
  background-color: white;
  font-family: 'Arvo', Helvetica;
  background-color: #fcfcfc;
}
body {
  width: 650px;
  margin: 0px auto;
  padding: 0px;
  color: #333;
}

navigation {
  display: block;
  padding-top: 30px;
  }
  navigation h1 {
    display: inline-block;
    font-size: 40px;
    color: black;
    }
    navigation h1 a {
      text-decoration: none;
      color: inherit;
  }
  navigation span {
    float: right;
    margin: 20px 0 0 0;
    font-size: 16px;
  }
  navigation ol {
    display: inline-block;
    float: right;
    }
    navigation ol li {
      display: inline-block;
      margin: 0 2px;
      padding: 2px;
      color: #fff;
    }
    navigation ol li a {
      display: block;
      text-decoration: none;
      padding: 6px 8px;
      border: 2px solid black;

      color: white;
      background-color: black;
    }
    navigation ol li a:hover {
      background-color: #666;
    }
    navigation ol li.current a {
      color: black;
      background-color: white;
}

em {
  font-style: italic;
}

p {
  margin: 15px 0;
  line-height: 1.15em;
}

strong {
  font-weight: 600;
}

section, fieldset {
  background-color: #f6f6f6;
  margin: 15px 0px;
  padding: 15px;
  border: 2px solid #bbb;
  border-width: 2px 0px;
  
}

fieldset legend,
section h1 {
  display: block;
  font-weight: 600;
  width: 100%;
  background-color: #bbb;
  padding: 10px 15px;
  margin: 0 0 0 -15px;
  color: #F6F6F6;
  text-shadow: 1px 1px 0px #777;
  border-bottom: 1px solid #aaa;
}

section h1 {
  margin: -15px 0 15px -15px;
  
}

.filler {
  display: block;
  font-size: 25px;
  text-align: center;
  padding: 150px 50px;
  }
  .filler small {
    font-size: 15px;
}

.buttons {
  text-align: right;
  }
  .button {
    display: inline-block;
    padding: 6px 8px;
    border: 2px solid black;
    color: #fff;
    background-color: #333;
    text-decoration: none;
  }
  .button:hover {
    background-color: #666;
}


#encouragement {
  text-align: center;
  font-size: 25px;
}

table.calendar {
  width: 618px;
  margin: 0 auto;
}


table.calendar caption {
  font-size: 25px;
  margin: 0 0 15px 0;
  text-align: left;
}

table.calendar th {
  padding: 7px;
  height: 16px;
  font-weight: bold;
  border: 2px solid #F6F6F6;
  background-color: #bbb;
  color: #fff;
  
  text-shadow: 1px 1px 0px #777;
}


table.calendar th {
  margin: 1px 0;
}

table.calendar td.day {
  width: 74px;
  height: 74px;
  padding: 5px;
  font-weight: 600;
  background-color: #eee;
  margin: 10px;
  border: 2px solid #F6F6F6;
}

table.calendar td.day.good {
  background: #eee url('star-bg.png') no-repeat bottom right;
  background-size: contain;
}

table.calendar td.day:hover {
  background: #666 url('star-bg-grey.png') no-repeat bottom right;
  background-size: contain;
}

table.calendar td.day a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}





